.fsi-6{font-size: 6px;}
.fsi-8{font-size: 8px;}
.fsi-10{font-size: 10px;}
.fsi-12{font-size: 12px;}
.fsi-14{font-size: 14px;}
.fsi-16{font-size: 16px;}
.fsi-18{font-size: 18px;}
.fsi-20{font-size: 20px;}
.fsi-22{font-size: 22px;}
.fsi-24{font-size: 24px;}
.fsi-26{font-size: 26px;}
.fsi-28{font-size: 28px;}
.fsi-30{font-size: 30px;}
.fsi-32{font-size: 32px;}
.fsi-34{font-size: 34px;}
.fsi-36{font-size: 36px;}
.fsi-38{font-size: 38px;}
.fsi-40{font-size: 40px;}
.fsi-42{font-size: 42px;}
.fsi-44{font-size: 44px;}
.fsi-46{font-size: 46px;}
.fsi-48{font-size: 48px;}
.fsi-50{font-size: 50px;}
.fsi-52{font-size: 52px;}
.fsi-54{font-size: 54px;}
.fsi-56{font-size: 56px;}
.fsi-58{font-size: 58px;}
.fsi-60{font-size: 60px;}
.fsi-62{font-size: 62px;}
.fsi-64{font-size: 64px;}
.fsi-66{font-size: 66px;}
.fsi-68{font-size: 68px;}
.fsi-70{font-size: 70px;}
.fsi-72{font-size: 72px;}
.fsi-74{font-size: 74px;}
.fsi-76{font-size: 76px;}
.fsi-78{font-size: 78px;}
.fsi-80{font-size: 80px;}
.fsi-82{font-size: 82px;}
.fsi-84{font-size: 84px;}
.fsi-86{font-size: 86px;}
.fsi-88{font-size: 88px;}
.fsi-90{font-size: 91px;}
.fsi-92{font-size: 92px;}
.fsi-94{font-size: 94px;}
.fsi-96{font-size: 96px;}
.fsi-98{font-size: 98px;}
.fsi-100{font-size: 100px;}
.fsrem-15{font-size: 1.5rem}
.fsrem-125{font-size: 1.25rem}
.fsrem-1{font-size: 1rem}
.fsrem-095{font-size: 0.95rem}
.fsrem-09{font-size: 0.9rem}
.fsrem-085{font-size: 0.85rem}
.fsrem-08{font-size: 0.8rem}
.fsrem-075{font-size: 0.75rem}
.fsrem-07{font-size: 0.7rem}






























































































