.wd-1{width: 1%;}
.wd-2{width: 2%;}
.wd-3{width: 3%;}
.wd-4{width: 4%;}
.wd-5{width: 5%;}
.wd-6{width: 6%;}
.wd-7{width: 7%;}
.wd-8{width: 8%;}
.wd-9{width: 9%;}
.wd-10{width: 10%;}
.wd-11{width: 11%;}
.wd-12{width: 12%;}
.wd-13{width: 13%;}
.wd-14{width: 14%;}
.wd-15{width: 15%;}
.wd-16{width: 16%;}
.wd-17{width: 17%;}
.wd-18{width: 18%;}
.wd-19{width: 19%;}
.wd-20{width: 20%;}
.wd-21{width: 21%;}
.wd-22{width: 22%;}
.wd-23{width: 23%;}
.wd-24{width: 24%;}
.wd-25{width: 25%;}
.wd-26{width: 26%;}
.wd-27{width: 27%;}
.wd-28{width: 28%;}
.wd-29{width: 29%;}
.wd-30{width: 30%;}
.wd-31{width: 31%;}
.wd-32{width: 32%;}
.wd-33{width: 33%;}
.wd-34{width: 34%;}
.wd-35{width: 35%;}
.wd-36{width: 36%;}
.wd-37{width: 37%;}
.wd-38{width: 38%;}
.wd-39{width: 39%;}
.wd-40{width: 40%;}
.wd-41{width: 41%;}
.wd-42{width: 42%;}
.wd-43{width: 43%;}
.wd-44{width: 44%;}
.wd-45{width: 45%;}
.wd-46{width: 46%;}
.wd-47{width: 47%;}
.wd-48{width: 48%;}
.wd-49{width: 49%;}
.wd-50{width: 50%;}
.wd-51{width: 51%;}
.wd-52{width: 52%;}
.wd-53{width: 53%;}
.wd-54{width: 54%;}
.wd-55{width: 55%;}
.wd-56{width: 56%;}
.wd-57{width: 57%;}
.wd-58{width: 58%;}
.wd-59{width: 59%;}
.wd-60{width: 60%;}
.wd-61{width: 61%;}
.wd-62{width: 62%;}
.wd-63{width: 63%;}
.wd-64{width: 64%;}
.wd-65{width: 65%;}
.wd-66{width: 66%;}
.wd-67{width: 67%;}
.wd-68{width: 68%;}
.wd-69{width: 69%;}
.wd-70{width: 70%;}
.wd-71{width: 71%;}
.wd-72{width: 72%;}
.wd-73{width: 73%;}
.wd-74{width: 74%;}
.wd-75{width: 75%;}
.wd-76{width: 76%;}
.wd-77{width: 77%;}
.wd-78{width: 78%;}
.wd-79{width: 79%;}
.wd-80{width: 80%;}
.wd-81{width: 81%;}
.wd-82{width: 82%;}
.wd-83{width: 83%;}
.wd-84{width: 84%;}
.wd-85{width: 85%;}
.wd-86{width: 86%;}
.wd-87{width: 87%;}
.wd-88{width: 88%;}
.wd-89{width: 89%;}
.wd-90{width: 90%;}
.wd-91{width: 91%;}
.wd-92{width: 92%;}
.wd-93{width: 93%;}
.wd-94{width: 94%;}
.wd-95{width: 95%;}
.wd-96{width: 96%;}
.wd-97{width: 97%;}
.wd-98{width: 98%;}
.wd-99{width: 99%;}
.wd-100{width: 100%;}
.hg-1{height: 1%;}
.hg-2{height: 2%;}
.hg-3{height: 3%;}
.hg-4{height: 4%;}
.hg-5{height: 5%;}
.hg-6{height: 6%;}
.hg-7{height: 7%;}
.hg-8{height: 8%;}
.hg-9{height: 9%;}
.hg-10{height: 10%;}
.hg-11{height: 11%;}
.hg-12{height: 12%;}
.hg-13{height: 13%;}
.hg-14{height: 14%;}
.hg-15{height: 15%;}
.hg-16{height: 16%;}
.hg-17{height: 17%;}
.hg-18{height: 18%;}
.hg-19{height: 19%;}
.hg-20{height: 20%;}
.hg-21{height: 21%;}
.hg-22{height: 22%;}
.hg-23{height: 23%;}
.hg-24{height: 24%;}
.hg-25{height: 25%;}
.hg-26{height: 26%;}
.hg-27{height: 27%;}
.hg-28{height: 28%;}
.hg-29{height: 29%;}
.hg-30{height: 30%;}
.hg-31{height: 31%;}
.hg-32{height: 32%;}
.hg-33{height: 33%;}
.hg-34{height: 34%;}
.hg-35{height: 35%;}
.hg-36{height: 36%;}
.hg-37{height: 37%;}
.hg-38{height: 38%;}
.hg-39{height: 39%;}
.hg-40{height: 40%;}
.hg-41{height: 41%;}
.hg-42{height: 42%;}
.hg-43{height: 43%;}
.hg-44{height: 44%;}
.hg-45{height: 45%;}
.hg-46{height: 46%;}
.hg-47{height: 47%;}
.hg-48{height: 48%;}
.hg-49{height: 49%;}
.hg-50{height: 50%;}
.hg-51{height: 51%;}
.hg-52{height: 52%;}
.hg-53{height: 53%;}
.hg-54{height: 54%;}
.hg-55{height: 55%;}
.hg-56{height: 56%;}
.hg-57{height: 57%;}
.hg-58{height: 58%;}
.hg-59{height: 59%;}
.hg-60{height: 60%;}
.hg-61{height: 61%;}
.hg-62{height: 62%;}
.hg-63{height: 63%;}
.hg-64{height: 64%;}
.hg-65{height: 65%;}
.hg-66{height: 66%;}
.hg-67{height: 67%;}
.hg-68{height: 68%;}
.hg-69{height: 69%;}
.hg-70{height: 70%;}
.hg-71{height: 71%;}
.hg-72{height: 72%;}
.hg-73{height: 73%;}
.hg-74{height: 74%;}
.hg-75{height: 75%;}
.hg-76{height: 76%;}
.hg-77{height: 77%;}
.hg-78{height: 78%;}
.hg-79{height: 79%;}
.hg-80{height: 80%;}
.hg-81{height: 81%;}
.hg-82{height: 82%;}
.hg-83{height: 83%;}
.hg-84{height: 84%;}
.hg-85{height: 85%;}
.hg-86{height: 86%;}
.hg-87{height: 87%;}
.hg-88{height: 88%;}
.hg-89{height: 89%;}
.hg-90{height: 90%;}
.hg-91{height: 91%;}
.hg-92{height: 92%;}
.hg-93{height: 93%;}
.hg-94{height: 94%;}
.hg-95{height: 95%;}
.hg-96{height: 96%;}
.hg-97{height: 97%;}
.hg-98{height: 98%;}
.hg-99{height: 99%;}
.hg-100{height: 100%;}